.Card-BoxMain {
	display: flex;
	flex-direction: column;
	padding: 15px;
	border-bottom: 1px solid #a1a1a1;
	cursor: pointer;
}

.Card-TitleBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.Card-TimeBox {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.Card-timeText {
	margin-left: 3px !important;
}
