.ColoredCard-BoxMainSuccess {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-top: 1px solid grey;
	background-color: #2e7d32;
	border-radius: 2px;
}

.ColoredCard-BoxMainWarning {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-top: 1px solid grey;
	background-color: #ed6c03d5;
	border-radius: 2px;
}

.ColoredCard-BoxMainError {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-top: 1px solid grey;
	background-color: #d32f2f;
	border-radius: 2px;
}

.ColoredCard-TitleBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: white;
}

.ColoredCard-TimeBox {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.ColoredCard-timeText {
	margin-left: 3px !important;
	color: white;
	font-weight: 500 !important;
}
